.property-card {
	position: relative;
	border-radius: 0.8rem !important;
	border: 0.5px solid rgb(236, 229, 229);
	margin: 1rem;
	width: 24rem;
	/* height: 26rem; */
}

.property-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
	background-color: #ececec;
}

.property-card .image-container img {
	border-radius: 0.8rem;
}
.property-card .image-container {
	padding: 0.9rem;
	position: relative;
}
.property-card {
	cursor: pointer;
}

.property-card .image-container .type {
	position: absolute;
	top: 35px;
	left: 40px;
	background-color: var(--color1);
	border-radius: 0.5rem;
	padding: 0.2rem 1.1rem;
	color: white;
}
.property-card .price {
	position: absolute;
	left: 30px;
	text-shadow: 3px 3px black;
	bottom: 1.5rem;
	color: white;
	font-size: 1.8rem;
	font-weight: 600;
}

.property-card .card-body {
	text-align: center;
}

.property-card .card-body .props {
	display: flex;
	justify-content: space-between;
	margin-left: 2rem;
	margin-right: 2rem;
}
.property-card .card-body .props span {
font-size:1em;
}
.property-card .card-body .props span svg{
color: var(--color1);
}
.property-card .card-body .location {
	color: #4b4b4b;
	font-size: .7rem;
	display: block;
}
/* @media (min-width: 1200px)
 .h2 {
    font-size: 2rem;
} */
.property-card .card-body h2 {
	color: #2e2e2e;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

.property-card .card-body .title {
	color: var(--color1);
	font-size: .8rem;
}

.property-card .card-body {
	display: flex;
	flex-direction: column;
	gap: .7rem;
	padding: 1rem 0;
}
