.property-card .image-container {
	position: relative;
	padding: 0.5rem;
}
.property-card .image-container img {
	border-radius: 0.5rem;
}
.property-card {
	cursor: pointer;
	border-radius: 0.5rem !important;
	border-style: solid;
	border-color: var(--color1) transparent transparent transparent;
	display:flex;
width: 17.5rem;
}
.property-card .card-body {
	padding-top: 0.1rem;
	bottom: 0rem;
}

.property-card .type {
	position: absolute;
	top: 1.1rem;
	left: 20px;
	padding: 0rem 0.3rem;
	margin: 0rem;
	color: white;
	background-color: var(--color1);
	border-radius: 0.3rem;
	font-size: 0rem;
}
.property-card .title-home .title {
	font-size: 0.8rem;
	text-align: center;
	color: var(--color1);
}
.property-card .title-home .desc {
	font-size: 1.2rem;
	text-align: center;
	font-weight: 700;
}
.property-card .title-home .location {
	font-size: 0.8rem;
	text-align: center;
	color: rgb(138, 127, 127);
}
.property-card .title-home .location svg {
	color: rgb(93, 91, 91);
}
.property-card .bottom-features {
	position: absolute;
	bottom: 25px;
	display: flex;
	justify-content: space-between;
	left: 20px;
	right: 20px;
	color: white;
}
.property-card .prop {
	/* text-align: center; */
	/* justify-content: space-between; */
	margin:auto;
	padding:auto;
	left:0;
	padding-left:0rem;
	gap:1rem;
	background-color:red;

}

.property-card .bottom-features .price {
	font-weight: 700;
	text-shadow: 1px 1px 7px rgb(2, 2, 2);
	font-size: 1.4rem;
}
.property-card .bottom-features .like {
	background-color: black;
	padding: 0rem 0.5rem;
	border-radius: 0.3rem;
	opacity: 0.8;
	font-size: 1.3rem;
}
.property-card .bottom-features .like:hover {
	background-color: var(--color1);
}
*/ .property-card .ul2 ul {
	/* list-style: none; */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	font-size: 0.4rem;
	left: 0;
	right: 0;
}
.property-card ul li {
	list-style: none;
}

.property-card ul svg {
	color: var(--color1);
	font-size: 1rem;
}
.property-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
	background-color: #ececec;
}
.property-card .title-home ul {
	text-align: center;
	align-items: center;
	justify-content: center;
}
.property-card .title-home li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	/* flex-direction: row; */
	font-size: 0.9rem;
	text-align: center;
	align-items: center;
	justify-content: center;
}
