.property-card .image-container{
    position: relative;
}
.property-card .image-container img{
border-radius: 1.3rem;
padding:0.8rem;
}
.property-card{
    width: 22rem;
    /* height: 24rem; */
    cursor:pointer;
    border-radius: 0.5rem !important;
    border:grey;
   
}
.property-card .card-body{
    padding-top:0.1rem;
    bottom:0.3rem;

}

.property-card:hover{
    background-color:#ececec;
}
.property-card  .bottom-features{
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    left: 20px;
    position: absolute;
    right: 20px;
  color:white;
}
.property-card .type{
    position: absolute;
    top:1.1rem;
    left:20px;
    padding:0.1rem 1rem;
    margin:0.3rem ;
    color:white;
    background-color: var(--color1);
    border-radius:0.3rem;
    font-size:0.9rem;
}
.property-card .title{
    font-size: 0.8rem;
    /* align-items: center; 
    justify-content: center center center; */
    text-align: center;
    color: var(--color1);

}
.property-card .desc{
    font-size: 1.6rem;
    /* align-items: center; 
    justify-content: center center center; */
    text-align: center;
    font-weight: 700;;



}
.property-card .location{
    font-size: 1.1rem;
    /* align-items: center; 
    justify-content: center center center; */
    text-align: center;
    color:rgb(138, 127, 127);
}
.property-card .location svg{
color:rgb(93, 91, 91);
}

/* .property-card .price{
    position: absolute;
    bottom:1.4rem;
    left:10px;
    padding:0.2rem 1rem;
    color:white;
    font-size: 1.6rem;
  
    
} */
.property-card .bottom-features .price{
    font-weight: 700;
    text-shadow: 1px 1px 7px rgb(0, 0, 0);
    font-size:1.4rem;
}
.property-card .bottom-features .like{
    background-color:black;
    padding:0.2rem 0.5rem;
    border-radius: 0.3rem;
    opacity: 0.8;
}
.property-card .bottom-features .like:hover{
    background-color:var(--color1);

}


.property-card ul{
    list-style: none;
    /* margin:0;
    padding: 0; */
    display: flex;
     flex-direction: row;
     font-size: 0.9rem;
     

}

.property-card ul svg{
    color: var(--color1);
    font-size: 1rem;
}
.property-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
  }

.property-card .image-container {
	position: relative;
   padding:0.8rem;
   top:0.1rem;
}
.property-card .image-container img {
	border-radius: 0.5rem;

  
}
.property-card {
	width: 18.5rem;
	/* height: 24rem; */
	cursor: pointer;
	border-radius: 0.5rem !important;
    border-style: solid;
     border-color:var(--color1) transparent transparent transparent;
}
.property-card .card-body {
	padding-top: 0.1rem;
	bottom: 0rem;
}

.property-card .bottom-features {
    position: absolute;
	bottom: 25px;
	display: flex;
	justify-content: space-between;
	left: 20px;
	
	right: 20px;
	color: white;
}
.property-card .type {
	position: absolute;
	top: 1.1rem;
	left: 20px;
	padding: 0rem 0.3rem;
	margin: 0rem;
	color: white;
	background-color: var(--color1);
	border-radius: 0.3rem;
	font-size: 0rem;
}
.property-card .title {
	font-size: 0.8rem;
	/* align-items: center; 
    justify-content: center center center; */
	text-align: center;
	color: var(--color1);
}
.property-card .desc {
	font-size: 1.2rem;
	/* align-items: center; 
    justify-content: center center center; */
	text-align: center;
	font-weight: 700;
}
.property-card .location {
	font-size: 0.8rem;
	/* align-items: center; 
    justify-content: center center center; */
	text-align: center;
	color: rgb(138, 127, 127);
}
.property-card .location svg {
	color: rgb(93, 91, 91);
}

.property-card .bottom-features .price {
	font-weight: 700;
	text-shadow: 1px 1px 7px rgb(0, 0, 0);
	font-size: 1.4rem;
}
.property-card .bottom-features .like {
	background-color: black;
	padding: 0rem 0.5rem;
	border-radius: 0.3rem;
	opacity: 0.8;
    font-size: 1.3rem;
}
.property-card .bottom-features .like:hover {
	background-color: var(--color1);
}

.property-card ul {
	list-style: none;
	margin:0;
    padding: 0;
	display: flex;
	flex-direction: row;
	font-size: 0.9rem;

	left: 0;
    right:0;
}

.property-card ul svg {
	color: var(--color1);
	font-size: 1rem;
}
.property-card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.05);
    background-color: #ececec;
}

