

.table-main-property .table tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.080);
    
}


.table-main-property .table td:nth-child(odd):hover{
   background-color:var(--color1);
   color: white;
 
}

.table-main-property .table td:nth-child(even):hover{
    background-color:var(--color1);
    color: white;
  
 }
 .table-main-property .table td:nth-child(1){

  padding-left: 1rem !important;
  width: 50%;
}
.table-main-property .table td:nth-child(2){
    padding-left: 1rem !important;
    width: 50%;
  }
  


.table-main-property svg{
    font-size: 1.5rem;
    margin-right: 0.4rem;
}

.table-main-property td{
    font-size: 1rem;    
    padding:0.8rem 0rem !important;
}
.titles{
    background-color:rgb(190, 187, 187);
    color:black;
    border-radius: 2rem 0;
    margin: 0;
    padding: 0;
}



.titles .desc{
    font-size:3rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 1rem;
}

.table-main-property .table span{
    font-size:1rem;
    font-weight: 700;
}

.details{
    margin-bottom: 3rem;
    margin-right: 0.7rem;
}
.features .back svg{
    font-size:2rem;
    font-weight:600;
  
}
.features .back{
    cursor: pointer;
}