.adNvbr{
    text-align: left; 
    
  }
.admin-navbar{
    padding:0;
    margin: 0;
    margin-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   margin-right: 0;
   background-color: white;
}

.admin-navbar ul{
    margin:0;
    padding: 0;
    display:inline-block;
    margin-top:2rem;
    
}

.admin-navbar ul li{
    text-align: left;
    line-height: 2.5rem;
    font-size: 1.1rem;
    
}

.admin-navbar .nav-link{
    color: white !important;
   
}

@media(min-width: 992px){

    .admin-navbar .navbar-nav{
        flex-direction: column !important;
      
    }

    .admin-navbar > .container{
        display: block !important;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        background-color: var(--color1);
        width: 100%;
         
    }
}

@media(max-width: 500px){
    .img-fluid {
        width: 70%;
    }
}



