.whyus svg {
    color: #ac4089;
    font-size: 5rem;
    text-align: center;
}

.whyus .card {
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
    text-align: center;
}

.whyus .card .card-title {
    margin: 2rem
}