.navbar{
  z-index: 45;
  width:100%;
  /* background-color: rgba(0, 0, 0, 0.756); */
  position: fixed !important;

}
.scroll{
  background-color: rgba(100, 100, 100, 0);

}

.navbar-nav a{
  font-weight: 400;
  color: rgb(224, 224, 224) !important;
}

.navbar .navbar-nav{
    gap: 10px;
    font-size: 1.2rem;
    text-align:start;
    padding: 2rem;
    padding-left: 0;
}
.navbar .nav-link{
  padding:0.5rem 1rem !important;

}
.navbar .nav-link:hover{
  color:var(--color1)!important;

}
.active {
  color: var(--color1) !important;

}

@media(max-width: 1200px){
  .navbar .navbar-collapse{
      
      padding:2rem;
      box-shadow: 0 0 15px black;
  }
}

.navbar-collapse .navbar-nav{
  gap:0.3rem;

}

.navbar-collapse .nav-link{
  padding:0;
 
}
