:root{
    --color1: #AC4089;
    --color2: rgb(2, 17, 33);
    --color3: rgba(2, 17, 33, 0.818);
    
}

body{
    background-color: black;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
}

.search-form{
    background-color: #fff;
    border-radius: 0.7rem;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
  
    
}

input.form-control, .form-select, input{
    padding: 0.375rem 0.75rem !important;
    border-radius: 0.25rem;
    border: 1px solid rgba(223, 191, 191, 0.429);
   
}



.btn {
    background-color: var(--color1);
    border-radius: 0.5rem;
    border-color: var(--color1);
    box-shadow: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;   
    color: white;
}

svg {
    vertical-align: middle;
}

.container{
    margin: 0 100px ;
}