:root{
    --color1: #AC4089;
    --color2: rgb(2, 17, 33);
    --color3: rgba(2, 17, 33, 0.818);
    
}

body{
    background-color: red;
}

.search-bar-container {
    background-color: white;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-bottom: 12px;
    justify-content: center;

}

.search-bar .active{
    background-color: var(--color1);
    border-radius: 0.6rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;

}

.search-form{
    background-color: #fff;
    border-radius: 0.7rem;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    gap: 2rem;
    
}

button {
    background-color: var(--color1);
    border-radius: 0.5rem;
    border-color: var(--color1);
    box-shadow: none;
    font-size: 1.2rem;
    padding: 5px 10px;   
    color: white;

}